# Instalação
- conda install dask
- pip install dask

In [ ]:
#pip install dask

## 1. Dask Arrays

In [4]:
## Import dask Array
import dask.array as da

ModuleNotFoundError: No module named 'dask'

In [ ]:
x = da.random.random((10000,10000), chunks=(1000,1000))

In [ ]:
x

In [ ]:
x.compute()

# 2. Dask DataFrame

In [ ]:
## import dataset default dask
from dask import datasets

In [ ]:
df = datasets.timeseries()

In [ ]:
df.persist()

In [ ]:
df.compute()

In [ ]:
df.visualize()

# 3. Agendador Dinâmico

### Modo Distribuído 3.1

In [ ]:
from dask.distributed import Client
client = Client() # Set Up local Cluster on your LaptTop
#Client = Client('127.0.0.1:8786')
client

In [ ]:
client.close()

## Análise Vôos no Brasil
### Data Set: 
https://www.kaggle.com/ramirobentes/flights-in-brazil

### 4.1 Leitura dos Dados

In [2]:
filename = 'home/biolabs/aws/___Publics_Repository/My-Data-Science-Journey/24-Notebooks/Dask/Anac-Voos-Brasil/BrFlights2.csv'

In [14]:
filename = './BrFlights2.csv'

### Versão Utilizando Pandas

In [5]:
import pandas as pd

In [6]:
%%time
df = pd.read_csv(filename, encoding='unicode_escape')

CPU times: user 16.7 s, sys: 2.12 s, total: 18.8 s
Wall time: 23.2 s

In [ ]:
df = pd.read_csv("BrFlights2.csv")

In [ ]:
df = pd.read_csv('BrFlights2.csv', encoding='latin1')

In [7]:
df.head(3)

,Voos,Companhia.Aerea,Codigo.Tipo.Linha,Partida.Prevista,Partida.Real,Chegada.Prevista,Chegada.Real,Situacao.Voo,Codigo.Justificativa,Aeroporto.Origem,...,Estado.Origem,Pais.Origem,Aeroporto.Destino,Cidade.Destino,Estado.Destino,Pais.Destino,LongDest,LatDest,LongOrig,LatOrig
0,AAL - 203,AMERICAN AIRLINES INC,Internacional,2016-01-30T08:58:00Z,2016-01-30T08:58:00Z,2016-01-30T10:35:00Z,2016-01-30T10:35:00Z,Realizado,NaN,Afonso Pena,...,PR,Brasil,Salgado Filho,Porto Alegre,RS,Brasil,-51.175381,-29.993473,-49.172481,-25.532713
1,AAL - 203,AMERICAN AIRLINES INC,Internacional,2016-01-13T12:13:00Z,2016-01-13T12:13:00Z,2016-01-13T21:30:00Z,2016-01-13T21:30:00Z,Realizado,NaN,Salgado Filho,...,RS,Brasil,Miami,Miami,N/I,Estados Unidos,-80.287046,25.795865,-51.175381,-29.993473
2,AAL - 203,AMERICAN AIRLINES INC,Internacional,2016-01-29T12:13:00Z,2016-01-29T12:13:00Z,2016-01-29T21:30:00Z,2016-01-29T21:30:00Z,Realizado,NaN,Salgado Filho,...,RS,Brasil,Miami,Miami,N/I,Estados Unidos,-80.287046,25.795865,-51.175381,-29.993473

In [8]:
df.tail()

,Voos,Companhia.Aerea,Codigo.Tipo.Linha,Partida.Prevista,Partida.Real,Chegada.Prevista,Chegada.Real,Situacao.Voo,Codigo.Justificativa,Aeroporto.Origem,...,Estado.Origem,Pais.Origem,Aeroporto.Destino,Cidade.Destino,Estado.Destino,Pais.Destino,LongDest,LatDest,LongOrig,LatOrig
2542514,UAL - 129,UNITED AIRLINES,Internacional,2015-12-14T01:25:00Z,2015-12-14T04:31:00Z,2015-12-14T11:19:00Z,2015-12-14T14:18:00Z,Realizado,ATRASOS NAO ESPECIFICOS - OUTROS,Houston,...,N/I,Estados Unidos,Aeroporto Internacional Do Rio De Janeiro/Galeao,Rio De Janeiro,RJ,Brasil,-43.249423,-22.81341,-95.336783,29.99022
2542515,UAL - 129,UNITED AIRLINES,Internacional,2015-12-01T01:25:00Z,2015-12-01T01:25:00Z,2015-12-01T11:19:00Z,2015-12-01T11:19:00Z,Realizado,NaN,Houston,...,N/I,Estados Unidos,Aeroporto Internacional Do Rio De Janeiro/Galeao,Rio De Janeiro,RJ,Brasil,-43.249423,-22.81341,-95.336783,29.99022
2542516,UAL - 129,UNITED AIRLINES,Internacional,2015-12-27T01:25:00Z,2015-12-27T01:25:00Z,2015-12-27T11:19:00Z,2015-12-27T11:19:00Z,Realizado,NaN,Houston,...,N/I,Estados Unidos,Aeroporto Internacional Do Rio De Janeiro/Galeao,Rio De Janeiro,RJ,Brasil,-43.249423,-22.81341,-95.336783,29.99022
2542517,UAL - 129,UNITED AIRLINES,Internacional,2015-12-05T01:25:00Z,2015-12-05T01:21:00Z,2015-12-05T11:19:00Z,2015-12-05T10:48:00Z,Realizado,ATRASOS NAO ESPECIFICOS - OUTROS,Houston,...,N/I,Estados Unidos,Aeroporto Internacional Do Rio De Janeiro/Galeao,Rio De Janeiro,RJ,Brasil,-43.249423,-22.81341,-95.336783,29.99022
2542518,UAL - 129,UNITED AIRLINES,Internacional,2015-12-09T01:25:00Z,2015-12-09T01:25:00Z,2015-12-09T11:19:00Z,2015-12-09T11:19:00Z,Realizado,NaN,Houston,...,N/I,Estados Unidos,Aeroporto Internacional Do Rio De Janeiro/Galeao,Rio De Janeiro,RJ,Brasil,-43.249423,-22.81341,-95.336783,29.99022

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542519 entries, 0 to 2542518
Data columns (total 21 columns):
 #   Column                Dtype
---  ------                -----
 0   Voos                  object
 1   Companhia.Aerea       object
 2   Codigo.Tipo.Linha     object
 3   Partida.Prevista      object
 4   Partida.Real          object
 5   Chegada.Prevista      object
 6   Chegada.Real          object
 7   Situacao.Voo          object
 8   Codigo.Justificativa  object
 9   Aeroporto.Origem      object
 10  Cidade.Origem         object
 11  Estado.Origem         object
 12  Pais.Origem           object
 13  Aeroporto.Destino     object
 14  Cidade.Destino        object
 15  Estado.Destino        object
 16  Pais.Destino          object
 17  LongDest              float64
 18  LatDest               float64
 19  LongOrig              float64
 20  LatOrig               float64
dtypes: float64(4), object(17)
memory usage: 407.4+ MB

In [10]:
df.describe()

           LongDest       LatDest      LongOrig       LatOrig
count  2.542519e+06  2.542519e+06  2.542519e+06  2.542519e+06
mean  -4.645362e+01 -1.718682e+01 -4.645216e+01 -1.716691e+01
std    1.051800e+01  1.227153e+01  1.051854e+01  1.227237e+01
min   -1.184085e+02 -5.825304e+01 -1.184085e+02 -5.825304e+01
25%   -4.864909e+01 -2.343455e+01 -4.864909e+01 -2.343455e+01
50%   -4.665658e+01 -2.281341e+01 -4.665658e+01 -2.281341e+01
75%   -4.324942e+01 -1.291110e+01 -4.324942e+01 -1.291110e+01
max    5.536567e+01  5.231054e+01  5.536567e+01  5.231054e+01

### Versão Utilizando Dask

In [11]:
## Import Dask Data Frame
import dask.dataframe as dd

In [15]:
%%time
ddf = dd.read_csv(filename, encoding='unicode_escape')

CPU times: user 726 µs, sys: 14.2 ms, total: 14.9 ms
Wall time: 14.2 ms

In [16]:
ddf

Dask DataFrame Structure:
                  Voos Companhia.Aerea Codigo.Tipo.Linha Partida.Prevista Partida.Real Chegada.Prevista Chegada.Real Situacao.Voo Codigo.Justificativa Aeroporto.Origem Cidade.Origem Estado.Origem Pais.Origem Aeroporto.Destino Cidade.Destino Estado.Destino Pais.Destino LongDest  LatDest LongOrig  LatOrig
npartitions=11
                object          object            object           object       object           object       object       object               object           object        object        object      object            object         object         object       object  float64  float64  float64  float64
                   ...             ...               ...              ...          ...              ...          ...          ...                  ...              ...           ...           ...         ...               ...            ...            ...          ...      ...      ...      ...      ...
...                ...             ...               ...              ...          ...              ...          ...          ...                  ...              ...           ...           ...         ...               ...            ...            ...          ...      ...      ...      ...      ...
                   ...             ...               ...              ...          ...              ...          ...          ...                  ...              ...           ...           ...         ...               ...            ...            ...          ...      ...      ...      ...      ...
                   ...             ...               ...              ...          ...              ...          ...          ...                  ...              ...           ...           ...         ...               ...            ...            ...          ...      ...      ...      ...      ...
Dask Name: read-csv, 11 tasks

In [17]:
ddf.head(3)

,Voos,Companhia.Aerea,Codigo.Tipo.Linha,Partida.Prevista,Partida.Real,Chegada.Prevista,Chegada.Real,Situacao.Voo,Codigo.Justificativa,Aeroporto.Origem,...,Estado.Origem,Pais.Origem,Aeroporto.Destino,Cidade.Destino,Estado.Destino,Pais.Destino,LongDest,LatDest,LongOrig,LatOrig
0,AAL - 203,AMERICAN AIRLINES INC,Internacional,2016-01-30T08:58:00Z,2016-01-30T08:58:00Z,2016-01-30T10:35:00Z,2016-01-30T10:35:00Z,Realizado,NaN,Afonso Pena,...,PR,Brasil,Salgado Filho,Porto Alegre,RS,Brasil,-51.175381,-29.993473,-49.172481,-25.532713
1,AAL - 203,AMERICAN AIRLINES INC,Internacional,2016-01-13T12:13:00Z,2016-01-13T12:13:00Z,2016-01-13T21:30:00Z,2016-01-13T21:30:00Z,Realizado,NaN,Salgado Filho,...,RS,Brasil,Miami,Miami,N/I,Estados Unidos,-80.287046,25.795865,-51.175381,-29.993473
2,AAL - 203,AMERICAN AIRLINES INC,Internacional,2016-01-29T12:13:00Z,2016-01-29T12:13:00Z,2016-01-29T21:30:00Z,2016-01-29T21:30:00Z,Realizado,NaN,Salgado Filho,...,RS,Brasil,Miami,Miami,N/I,Estados Unidos,-80.287046,25.795865,-51.175381,-29.993473

In [18]:
ddf.tail(3)

,Voos,Companhia.Aerea,Codigo.Tipo.Linha,Partida.Prevista,Partida.Real,Chegada.Prevista,Chegada.Real,Situacao.Voo,Codigo.Justificativa,Aeroporto.Origem,...,Estado.Origem,Pais.Origem,Aeroporto.Destino,Cidade.Destino,Estado.Destino,Pais.Destino,LongDest,LatDest,LongOrig,LatOrig
172241,UAL - 129,UNITED AIRLINES,Internacional,2015-12-27T01:25:00Z,2015-12-27T01:25:00Z,2015-12-27T11:19:00Z,2015-12-27T11:19:00Z,Realizado,NaN,Houston,...,N/I,Estados Unidos,Aeroporto Internacional Do Rio De Janeiro/Galeao,Rio De Janeiro,RJ,Brasil,-43.249423,-22.81341,-95.336783,29.99022
172242,UAL - 129,UNITED AIRLINES,Internacional,2015-12-05T01:25:00Z,2015-12-05T01:21:00Z,2015-12-05T11:19:00Z,2015-12-05T10:48:00Z,Realizado,ATRASOS NAO ESPECIFICOS - OUTROS,Houston,...,N/I,Estados Unidos,Aeroporto Internacional Do Rio De Janeiro/Galeao,Rio De Janeiro,RJ,Brasil,-43.249423,-22.81341,-95.336783,29.99022
172243,UAL - 129,UNITED AIRLINES,Internacional,2015-12-09T01:25:00Z,2015-12-09T01:25:00Z,2015-12-09T11:19:00Z,2015-12-09T11:19:00Z,Realizado,NaN,Houston,...,N/I,Estados Unidos,Aeroporto Internacional Do Rio De Janeiro/Galeao,Rio De Janeiro,RJ,Brasil,-43.249423,-22.81341,-95.336783,29.99022

In [19]:
ddf.info(memory_usage=True)

<class 'dask.dataframe.core.DataFrame'>
Columns: 21 entries, Voos to LatOrig
dtypes: object(17), float64(4)
memory usage: 407.4 MB

In [20]:
ddf.describe()

Dask DataFrame Structure:
              LongDest  LatDest LongOrig  LatOrig
npartitions=1
               float64  float64  float64  float64
                   ...      ...      ...      ...
Dask Name: describe-numeric, 248 tasks

### 4.2 Qual a Companhia que fez mas Vôos ?

In [ ]:
df('Companhia_Aerea').value_counts()

In [ ]:
## dASK
ddf('Companhia_Aerea').value_counts().compute()